{% extends 'base.html' %}

    {% block head %}         
        {% load static %}
        <title>Curriculums</title>
    {% endblock %}
    
    {% block body %}
        <section class="section">
            <div class="container">
                <h1 id="login">Curriculums</h1>
                <div class="section">
                    <ul>
                        {% for user in users %}
                        <li><a href="{% url 'briefcase:curriculumparam' id=user.id %}">{{user}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    {% endblock %}  
        