{% extends 'base.html' %}

    {% block head %}         
        {% load static %}
        <title>Curriculums</title>
    {% endblock %}
    
    {% block body %}
        <section class="section">
            <div class="container">
                <h1 id="login">Curriculums</h1>
                <div class="section">
                    <div class="row">
                        {% for us in usrs %}
                        <div class="col s12 m4">
                            <div class="card">
                                <div class="card-image">
                                    <img class="responsive-img rounded" src="{% static '/home/assets/download.png' %}">
                                </div>
                                <div class="card-content">
                                        <span class="card-title">{{us}}</span>
                                    <span>{{us.email}}</span>
                                </div>
                                <div class="card-action">
                                    <a href="{% url 'briefcase:curriculumparam' id=us.id %}">Ver..</a>
                                </div>
                            </div>
                        </div>                    
                        {% endfor %}
                    </div>                    
                </div>
            </div>
        </section>
    {% endblock %}  
        