{% extends 'base.html' %}

    {% block head %}         
        {% load static %}
        <title>Curriculums</title>
    {% endblock %}
    
    {% block body %}
        <section class="section">
            <div class="container">
                <h1 id="login">Curriculums</h1>
                <div class="section">
                    <ul>
                        {% for us in usrs %}
                        <li><a href="{% url 'briefcase:curriculumparam' id=us.id %}">{{us}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    {% endblock %}  
        