{% extends 'base.html' %}

    {% block head %}         
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'accounts/style.css' %}">
        <title>Register</title>
    {% endblock %}
    
    {% block body %}
        <section class="section">
            <div class="container">
                <h1>Register</h1>
                <p>wellcome Hope you enjoy</p>
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn" type="submit">Log In</button>
                </form>
            </div>
        </section>
    {% endblock %}  