{% load static %}
<section>
        <nav class="deep-purple accent-4">
            <div class="container">
                <div class="nav-wrapper">
                    <div class="row">
                        <div class="col s1">
                            <a href="{% url 'home:home' %}" class="brand-logo Left">PTF</a>
                        </div>
                        <div class="col s4">
                            <ul class="left hide-on-med-and-down">
                                <li><a href="#">Nosotros</a></li>
                                <li><a href="#">Curriculum's</a></li>
                            </ul>
                        </div>                         
                        <div class="col s7">
                            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                                <ul class="right hide-on-med-and-down">
                                {% if request.user.is_authenticated %}
                                <!-- Dropdown Trigger -->                                
                                <li><a href="">Mi Curriculum</a></li>  
                                <li><a class='dropdown-trigger' href='#' data-target='acc'>Profile</a></li>                             
                                <li><a class='red btn' href="/account/logout">LogOut</a></li>  
                                {% else %}                                             
                                <li><a class='dropdown-trigger' href='#' data-target='act'>Account</a></li>
                                {% endif %}
                            </ul>
                        </div>                        
                    </div>
                </div>
            </div>   
            <!-- Dropdown Structure -->
            <ul id='act' class='dropdown-content'>
                <li><a href="{% url 'accounts:register' %}">Register</a></li>
                <li><a href="{% url 'accounts:login' %}">Login</a></li>
            </ul>      
            <!-- Dropdown Structure -->
            <ul id='acc' class='dropdown-content'>
                <li><a href="{% url 'accounts:profile' %}">Profile</a></li>
                <li><a href="{% url 'accounts:info' %}">User Data</a></li>
            </ul> 
            <!-- Dropdown Structure -->
            <ul id='acc1' class='dropdown-content'>
                <li><a href="{% url 'accounts:profile' %}">Profile</a></li>
                <li><a href="{% url 'accounts:info' %}">User Data</a></li>
            </ul>      
            <ul id='act1' class='dropdown-content'>
                <li><a href="{% url 'accounts:register' %}">Register</a></li>
                <li><a href="{% url 'accounts:login' %}">Login</a></li>
            </ul>                   
        </nav>

        <ul class="sidenav" id="mobile-demo">
            <section class="section">
                <div class="container">
                    <div class="row">
                        <div class="col s6 offset-s3">
                            <img src="{% static 'assets/logic.jpg' %}" alt="" class="circle responsive-img">
                            <h5 class=center>Portfolio</h5>
                        </div>
                    </div>
                </div>
            </section>
            <hr>            
            <li><a href="">Nosotros</a></li>
            <li><a href="">Curriculum's</a></li>
            {% if request.user.is_authenticated %}
            <hr>             
            <li><a href="">Mi Curriculum</a></li>
            <li><a class='dropdown-trigger' href="#" data-target='acc1'>Profile</a></li>                   
            <li><a class='red btn' href="/account/logout">Log Out</a></li>
            {% else %}
            <!-- Dropdown Trigger -->
            <a class='dropdown-trigger' href='#' data-target='act1'>Profile</a>
            {% endif %}
        </ul>
    </section>  
    <script src="{% static 'js.js' %}" ></script>